<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb1qekHMQXngBGB6a4xiX6nFYijvp6hfc</string>
	<key>GCM_SENDER_ID</key>
	<string>221008081019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gasUserApp</string>
	<key>PROJECT_ID</key>
	<string>gas-system-1b341</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-system-1b341.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221008081019:ios:250357e526fc6ed4e332de</string>
</dict>
</plist>